{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.html", "src/**/*.ts", "*.test.ts", "*.tsx", "*.test.js", "src/**/*.js","src/**/*.jsx"],
      "options": {
        "tabWidth": 2,
        "semi": true
      }
    }
  ]
}
